Member's Email should be Varchar(254), not Varchar(256)

I was confused when I saw in the database that Member.Email was a VARCHAR(256). So I looked in the code and saw the reference to RFC 5321, Section 4.5.3.1.3.

However, that source details how long a total path may be, INCLUDING the < before and > after the actual email address. Therefore, the email address itself is limited to 254 characters. As a result the definition for the Email field in the Member table can safely be reduced to a Varchar(254). 

See this StackOverflow question for more explanation:
http://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address
